# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.blg
*.aux
*.DS_Store
*.gz
*.bcf
*.toc
*.dvi
*.run.xml
*.toc
*.synctex(busy)
*.bbl
*.out
*.vscode
*.bkp
*.raw
*.fft
stab.txt
Documentation/**/*.pdf